*{
    padding: 0;
    margin: 0;
}
.top{
  background-image:linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0.5) 60%,rgba(0,0,0,.8) 100%), url(../img/background.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 8px solid #222;
  .header{
    background-color: transparent;
    color: #fff;
    overflow: auto;
    padding: 5px 3%;
  }
  .logo{
    width: 167px;
    height: 45px;
    display: inline-block;
    margin-right: 20px;
    >img{
      max-width: 100%;
      height: auto;
    }
  }
  .right-menu {
    display: inline-block;
    background-color: transparent;
    padding: 10px;
    float: right;
    >ul{
      width: 200px;
      >select{
        line-height: 1.3em;
        white-space: nowrap;
        border: 1px solid #aaa;
        color: #fff;
        font-size: 14px;
        padding: 8px 10px;
        margin-right: 20px;
        background: rgba(0,0,0,.4);
      }
      >li{
        display: inline-block;
        >button{
          display: inline-block;
          background-color: red;
          padding: 7px 17px;
          margin-top: 10px;
          border: none;
          border-radius: 3px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 400px;
          cursor: pointer;
        }
      }
    }
  }
  .discription-box{
    width: 100%;
    height: 100%;
    padding: 145px 0 160px 0;
    text-align: center;
    .large-title{
        width: 35%;
        padding: 10px;
        color: #FFFFFF;
        font-size: 64px;
        word-break: keep-all;
        margin-left: 32%;
    }
    .medium-title{
        padding: 10px;
        color: #FFFFFF;
        font-size: 26px;
        font-weight: 400;
    }
    .small-title{
        padding: 20px;
        color: #FFFFFF;
        font-size: 19.2px;
        font-weight: 400;
    }
    .email-box{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .email{
        width: 100%;
        max-width: 500px;
        padding-left: 10px;
        font-size: 16px;
      }
      .btn{
        width: 200px;
        height: 70px;
        background-color: red;
        font-size: 30px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.middle{
  .enjoy-tv{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 8px solid #222;
    .enjoy-tv-text{
      width: 28%;
      color: white;
      word-break: keep-all;
      margin-left: 5%;
      >h1{
        font-size: 50px;
        padding: 10px 0;
      }
      >h2{
        font-size: 26px;
        font-weight: 400;
      }
    }
    .enjoy-tv-img{
      .tv-img{
        position: relative;
        top: 89.4%;
        left: 10%;
        >img{
          width: 80%;
          height: auto;
        }
        .card-video{
          position: absolute;
          top: 20.6%;
          left: 11%;
          bottom: 0;
          >video{
            width: 77%;
            z-index: 0;
          }
        }
      }
    }
  }
  .save-contents{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 8px solid #222;
    .save-contents-text{
      width: 30%;
      color: white;
      word-break: keep-all;
      margin-bottom: 2%;
      >h1{
        font-size: 50px;
        padding: 10px 0;
      }
      >h2{
        font-size: 26px;
        font-weight: 400;
      }
    }
    .save-contents-img{
      margin-bottom: 2%;
      >img{
        width: 80%;
        height: auto;
        position: relative;
        z-index: 2;
        border: 0;
      }
    }
  }
  .children-only{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 8px solid #222;
    .children-only-text{
      width: 30%;
      color: white;
      word-break: keep-all;
      margin-left: 5%;
      >h1{
        font-size: 50px;
        padding: 10px 0;
      }
      >h2{
        font-size: 26px;
        font-weight: 400;
      }
    }
    .children-only-img{
      margin-left: 1%;
      >img{
        width: 80%;
        height: auto;
        position: relative;
        z-index: 2;
        border: 0;
      }
    }
  }
}

.down{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background-color: black;
  >h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    padding: 60px 0;
  }
  .question-box{
    width: 43%;
    margin-bottom: 10px;
    .question{
      color: #ffffff;
      background: #303030;
      font-weight: 400;
      position: relative;
      border: 0;
      >summary{
        padding: 20px 10px;
        font-weight: 400;
        font-size: 26px;
        border-bottom: solid 1px black;
      }
      >p{
        font-size: 26px;
        font-weight: 400;
        padding: 40px 20px;
      }
    }
  }
  .small-title{
    text-align: center;
    padding: 20px;
    margin-top: 2%;
    color: #FFFFFF;
    font-size: 19.2px;
    font-weight: 400;
  }
  .email-box{
    width: 37%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .email{
      width: 80%;
      max-width: 500px;
      font-size: 16px;
      padding-left: 10px;
    }
    .btn{
      width: 200px;
      height: 70px;
      background-color: red;
      font-size: 30px;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
    }
  }
}